# node_modules
# .next
# out
# .DS_Store
# public/.DS_Store
# .gitignore

# # pwa
# public/sw.js
# public/workbox-*
# public/robots.txt

# # local env files
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local

# # coplits files
# .vscode